
{% extends "base.html.twig" %} 
{% block body %}
{% include "header/header.html.twig" %} 


{% for projet in projets %}
        
        <div class="card border-primary text-white bg-info mb-4 me-5 mt-4" style="width: 20%;"> 
            
            <h3>{{ projet.title }}</h1> <br>
                <br>
               
                    <div>{{ projet.description }}</div>
                        
                
            </div>
            {% endfor %}

{% endblock %} 