
{% extends 'base.html.twig' %}

{% block title %}Nouveau Projet{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('style.css') }}">
{% endblock %}

{% block body %}
{% include "header/header.html.twig" %}
<div class="container">
    <h1 class="mb-4">Créer un nouveau Projet</h1>

    {{ include('projet/_form.html.twig') }}

</div>
{% endblock %}
