{% extends 'base.html.twig' %}

{% block title %}New Projet{% endblock %}

{% block body %}
{% include "header/header.html.twig" %} 
    <h1>Créer un nouveau projet</h1>

    {{ include('projet/_form.html.twig') }}

{% endblock %}
